[Unit]
Description={{ item.value.systemd_description | default(item.value.systemd_service) }}

[Service]
ExecStart={{ item.value.systemd_start | default(item.value.base_path + '/' + item.value.python_virtualenv_path + '/bin/trytond -v -c '+ item.value.base_path + '/' + item.value.python_virtualenv_path + '/trytond.conf') }}
ExecStop={{ item.value.systemd_stop | default('') }}
Restart=always
User={{ item.value.user }}
{% if item.value.systemd_enviroment is defined %}
{% for env in item.value.systemd_enviroment %}
Enviroment={{ env.name }}={{ env.value }}
{% endfor %}
{% endif %}
WorkingDirectory={{ item.value.base_path }}/{{ item.value.python_virtualenv_path }}

[Install]
WantedBy=multi-user.target
